
$color0 :#F7FFDD;
$color1 :#FCFDAF;
$color2 :#EFD780;
$color3 :#DBA159;
$color4 :#D0E3CC;
.link{
  color: #167332;
  font-weight: 600;
  // background-color: $color2;
}

.va {
  display: flex;
  align-items: center;
}

.hero,
.cta {
  // background: url(data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%20512%20512%22%20width%3D%22512%22%20height%3D%22512%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cfilter%20id%3D%22noise%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%220.875%22%20result%3D%22noise%22%20%2F%3E%3CfeColorMatrix%20type%3D%22matrix%22%20values%3D%220%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200%200.4296875%200%22%20%2F%3E%3C%2Ffilter%3E%3Crect%20filter%3D%22url%28%23noise%29%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22512%22%20height%3D%22512%22%20fill%3D%22transparent%22%20opacity%3D%221%22%20%2F%3E%3C%2Fsvg%3E), linear-gradient(52deg, #42475C 0%, #20222E 71%);
  background-color: $color4 ;
}

.cta {
  height: 500px;
  border-top: 10px solid $color4;
}

footer {
  color: white;
  background: rgb(14, 14, 14) !important;
}

footer strong {
  color: turquoise;
}

footer a {
  color: turquoise;
}

.bold {
  color:  white;
  font-weight: 800;
  font-size: 1.3rem;
  // font-family: 'Nunito Sans', sans-serif;
  // text-shadow: 1px 1px 1px #fff, 3px 3px 5px;
}

// .subtitle {
//   color: black;
//   font-size: 1.2rem;
//   // text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
// }

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url('../../assets/img/bg19.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid $color4;
}

#parallax-1 hr {
  background: $color2;
}

#parallax-2 {
  background: url('../../assets/img/bg17.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // border-top: 10px solid $color2;
}

#parallax-2 hr {
  background: $color4;
}

#parallax-3 hr {
  background: $color0;
}

.label {
  color: white;
}

input {
  background: transparent !important;
  border: 1px solid $color0 !important;
  color: black !important;
}

input::placeholder {
  color: black !important;
}



.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -10px;

  &__button {
    margin: 10px 5px 0;
  }
}

$social-button-size: 70px;
$social-button-icon-size: 0.4;
$social-button-background: #fff;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;




$social-button-colors: (
  'mail': #0072c6,
  'facebook': #3b5999,
  'linkedin': #0077b5,
  'github': #6e5494,
  'codepen': #212121,
  'steam': #7da10e,
  'snapchat': #eec900,
  'twitter': #55acee,
  'instagram': #e4405f,
  'npmjs': #c12127,
);

.box1{

  background: rgba(black, 0.7);
}

.box2{

  background: rgba(white, 0.4);
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-size;
  height: $social-button-size;
  text-decoration: none;
  border-radius: 100%;
  background: rgba(#ffff, 1);
  text-align: center;

  &::after {
    content: '';
    position: absolute;
    top: -1px;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      margin-left: calc(-50% - 1px);
    }
  }

  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-size * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}
